<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer type="text/javascript" src="/scripts/script.js"></script>
    <!--vtor nacin na postavuvanje na javascript fajl so defer-->
    <title>Higher order functions and DOM</title>
  </head>
  <body>
    <h2 id="title" class="zdravo">Semos</h2>
    <div class="block">Semos edukacija</div>
    <div class="block">Semos edukacij1</div>
    <a href="#">Link</a>

    <button id="button">Check date</button>
    <div id="result"></div>
    <!-- <button id="light_on" onclick="lightOn()">Light on</button> -->
    <!--stara sintaksa za events-->
    <button id="light_on">Light on</button>
    <button id="light_off">Light off</button>
    <img id="light" src="https://www.w3schools.com/js/pic_bulboff.gif" />
    <form>
      <input type="text" name="inputField" id="inputField" />
      <button id="formButton">Submit</button>
    </form>
    <!-- <script type="text/javascript" src="/scripts/script.js"></script>  -->
    <!--prv nacin za postavuvanje na javascript fajl na kraj od body-->
  </body>
</html>
